.pagination {
  @include space('mt', $space-12);
}

.nav-links {
  display: flex;
}

.page-numbers {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-family: $font-family-headings;
  font-size: $font-size-4;
  letter-spacing: .1em;
  margin-right: 1em;
}

.page-numbers:not(.dots, .next, .prev){
  width: 30px;
  height: 30px;
  background: $color-grey-05;
  border-radius: 50%;
  text-decoration: none;
}

.page-numbers.current{
  background: $color-primary!important;
  color: white;
}
